@page
@model KnowledgeNexus.Pages.BookAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Selected Item</h1><br/>

@{
    string imagePath = "/uploads/" + Model.Books.FileName; 
}


<div class="row">
    <div class="col-md-5">
        <img src="@imagePath" class="img-fluid" />
    </div>
    <div class="col-md-5">
        <form method="post">
            <input type="hidden" asp-for="Books.BooksId" />
            <h3>Are you sure you want to delete this?</h3>
            <hr/>
            <input type="submit" value="Delete" class="btn btn-danger" />&nbsp;&nbsp;&nbsp;
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>

    </div>

</div>