@page
@model KnowledgeNexus.Pages.BookAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Book List</h1>
<hr />

<p>
    <a asp-page="Create" class=" btn btn-success">Add New</a>
</p>
<br/>

@foreach (var item in Model.Books)
{
    <div class="row row-bookadmin">

        <div class="col-md-3">
            <img src="~/uploads/@item.FileName" class="img-fluid" /><br/>
        </div>

        <div class="col-md-9">
            <h3>@item.Name</h3>
            <br/>
            <p>
                @item.Description  
            </p>
            <p>
                <strong>Price:</strong> $@item.Price
            </p>
            <hr>
            <p>
                <a asp-page="./Edit" asp-route-id="@item.BooksId" class="btn btn-primary">Edit </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-page="./Delete" asp-route-id="@item.BooksId" class="btn btn-danger">Delete </a>
            </p>
        </div>
    </div>
}