@page
@model KnowledgeNexus.Pages.BookAdmin.LogoutModel
@{
}

<h1>Logout</h1>
<hr/>

<p><strong>Are you sure you want to logout?</strong></p>
<br/>

<form method="post">
    <input type="submit" value="Logout" class="btn btn-primary" />
</form>
