@page
@model KnowledgeNexus.Pages.ConfirmationModel
@{
}
<h1>Confirmation</h1>
<hr />
<h3 class="">Thank you for your purchase!</h3>
<h3>Invoice #: <span class="text-success">@Model.InvoiceNumber</span></h3>