@page
@model KnowledgeNexus.Pages.DisplayBooksModel
@{
    string imagePath = "/uploads/" + Model.Books.FileName;
}

<h6 class="text-secondary">Book/Details</h6>
<hr />
<br />

<div class="row">
    <div class="col-md-5">
        <img src="@imagePath" class="img-fluid" />
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-5">
        <!-- Adding multipart/form-data to upload file(s) -->
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" name="id" value="@Model.Books.BooksId" />

            <div class="product-details mb-3">
                <h2 class="product-title">@Model.Books.Name</h2>
                <br />
                <h4 class="product-price">CA$@Model.Books.Price</h4>
                <p>Online pricing. Prices and offers may vary in store.</p>
                <hr />  
                
                <a asp-page="./Index" class="btn btn-warning"><i class="fa-solid fa-arrow-left"></i>  Continue Shopping</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <button  type="submit" class=" btn btn-primary"><i class="fa-solid fa-cart-plus"></i> Add to Cart</button>             
            </div>
            <br />
            <div>
                <h5>Description:</h5>
                <p class="product-description">@Model.Books.Description</p>
            </div>
        </form>
    </div>
</div>
