@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="my-4">Featured Section</h2>

<!--Adding Features Section-->

<div class="images-features">
    <div class="image2"><a asp-page="DisplayBooks" asp-route-id="37"><img src="/Images/Right Panel - Featured.png"/></a></div>
    <div class="image1"> <img src="/Images/Atomic Habits - Featured.png"/></div>
</div>
<br />
<br />
<br />

<h2 class="my-4">Store</h2>

<!-- Starting with the first row -->

<div class="row">

    @for (int i = 1; i <= Model.Books.Count(); i ++)
    {
        var bookstore = Model.Books.ElementAt(i - 1);
        string imageSrc = "/uploads/" + bookstore.FileName;

        //Output the individual card
        <div class="col-xl-3" id="myColumn">
            <div class="card my-2 store-card">
                <a class="a-cleanup" asp-page="DisplayBooks" asp-route-id="@bookstore.BooksId">
                    <img src="@imageSrc" class="card-img-top card-img-custom img-fluid" />
                    <div class="card-body">
                        <h6 class="mb-3" >@bookstore.Name</h6>                       
                    </div>
                    <div class="card-body">
                        <span class="card-text">CA$@bookstore.Price</span>
                        <a asp-controller="" asp-action="" asp-route-id="@bookstore.BooksId"></a>
                    </div>
                    <br />
                </a>               
            </div>         
        </div>
        <br />

        //Close the individual row
        if(i == Model.Books.Count())
        {
            @:</div><div class="row"><br/>
        }

        //Close the last row
        if(i == Model.Books.Count())
        {
            @:</div class="row"><br/>
        }
    }

