@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="my-4">Store</h2>

<div class="row" id="cards">
    @foreach (var bookstore in Model.Books)
    {
        string imageSrc = "/uploads/" + bookstore.FileName;

        <div class="col-3" id="myColumn">
            <div class="card">
                <a asp-controleer="Store" asp-action="Details" asp-route-id="@bookstore.BooksId">
                    <img src="@imageSrc" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="mb-3" >@bookstore.Name</h5>
                        
                    </div>
                    <br />
                    <div class="card-body">
                        <span class="card-text">CA$@bookstore.Price</span>
                        <a asp-controller="" asp-route-id="@bookstore.BooksId" class="btn btn-primary float-right"><i class="fa-solid fa-cart-plus"></i></a>
                    </div>
                </a>            
            </div>
            <br />
        </div>
    }
</div>


