@page
@model KnowledgeNexus.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<h5>My Shopping Cart</h5>
<hr />
<br />

@if (Model.Books == null || Model.Books.Count == 0)
{
    <h3 class="text-danger">Your cart is EMPTY</h3>
    <br />
    <div col="col-md-5">
        <img src="~/Images/Empty Cart.png" class="img-fluid" />
    </div>
    <br />
    <br />
    <a asp-page="./Index" class="btn btn-primary">Keep Shopping</a>
}
else
{
    <table class="shopping-cart container">
        <thead>
            <tr>
                <th>Image</th>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
                
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Books)
            {
                <tr>         
                    <td><img src="~/uploads/@item.FileName" class="img-fluid" width="400px;" /></td>
                    
                    <td>@item.Name</td>
                    
                    <td>@item.Description</td>
                    
                    <th>CA$@item.Price</th>              
                </tr>
            }
        </tbody>
    </table>
  
    <br />
    <br />   
    <form method="post">
        <button type="submit" class="btn btn-secondary">Checkout</button>
        <a asp-page="./Index" class="btn btn-warning"> Continue Shopping</a>
    </form>

}


