@page
@model KnowledgeNexus.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<h5>My Shopping Cart</h5>
<hr />
<br />

@if (Model.Books == null || Model.Books.Count == 0)
{
    <h3 class="text-danger">Your cart is EMPTY</h3>
    <br />
    <div col="col-md-5">
        <img src="~/Images/Empty Cart.png" class="img-fluid" />
    </div>
    <br />
    <br />
    <a asp-page="./Index" class="btn btn-primary">Keep Shopping</a>
}
else
{
    <table class="shopping-cart container">
        <thead>
            <tr>
                <th>Image</th>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Books)
            {
                int BookId = item.BooksId;
                int quantity = Model.ProductIDs.Count(id => id == BookId); 
                // Counting the occurances of the current book id in the ProducID list 
                <tr>         
                    <td><img src="~/uploads/@item.FileName" class="img-fluid" width="400px;" /></td>
                    
                    <td>@item.Name</td>
                    
                    <td>@(item.Description.Length > 100 ? item.Description.Substring(0, 100) + " ... ": item.Description)</td>
                    
                    <td>CA$@item.Price</td>  
                    <td>@quantity</td>
                </tr>
            }
        </tbody>
    </table>
  
    <br />
    <br />
    <form method="post">
        <!-- if cookie is empty, not display checkout-->
        @if (Model.CartSum > 0)
        {
            <a asp-page="./Checkout" class="btn btn-primary">Checkout</a>
        }
        <a asp-page="./Index" class="btn btn-danger">Continue Shopping</a>
    </form>

}


