html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Home Page column layout*/

a {
    text-decoration: none; 
}

.a-cleanup{
    color: inherit;

}

.a-cleanup::after hover {
    text-decoration: none;
    color: inherit; 
}

#myColumn{
    margin: 20px auto; 
}

.store-card{
    transition: all 0.2s ease; 
}
.store-card:hover {
    transform: scale(1.03);
    box-shadow: lightgray 2px 5px 5px 2px; 
}


.card-body { 
    height: 6em; 
    
}



/* Laptop (regular size) */
@media (max-width: 1024px){
    #myColumn{
        flex: 0 0 25%;
        max-width: 25%; 
    }
}

/* Tablet Version*/
@media (max-width: 853px) {
    #myColumn {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Mobile Version */

@media (max-width: 576px) {
    #myColumn {
        flex: 0 0 100%;
        max-width: 100%;
    }
}






/*
    Book Admin styles
*/

.row-bookadmin {
    margin-top: 20px;
}